<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bank Referral Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bgimg">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <span>Bank Customers Referral Application</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" (click)="openDialog()">
        New Referral
      </button>
      <span class="button-spacer"></span>
      <button mat-raised-button color="accent">Logout</button>
    </mat-toolbar>
  </body>
</html>
